<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Electron App</title>
    <link rel="stylesheet" href="bootstrap.min.css"> 
    <link rel="stylesheet" href="custom.css">
    

     <!-- link para la tabla tabulator  -->
    <link  rel="stylesheet" href="C:\Users\ignac\Desktop\ProyectoElectron\node_modules\tabulator-tables\dist/css\bootstrap\tabulator_bootstrap4.min.css">
    <script type="text/javascript" src="C:\Users\ignac\Desktop\ProyectoElectron\node_modules\tabulator-tables\dist\js\tabulator.min.js"></script>

  </head>


  <body>
    
    <div class="bs-component">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navegacion</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="stock">Stock de productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="agregarProd">Agregar Prodcuto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="agregarCli">Agregar Cliente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="boton">clientes </a>
            </li>
          </ul>
        </div>
      </nav>

      
  
  <button type="button" class="btn btn-primary" id="guardarCambios">Guardar cambios</button>
  <button type="button" class="btn btn-primary" id="actualizarMontoTotal">Actualizar monto total</button>
  <button type="button" class="btn btn-primary" id="fechaHoy">Clientes con fecha 'Hoy'</button>
  <div id="tableProductos"></div>
  <div id="tableClientes"></div>

  
  <script type="text/javascript" src= "C:\Users\ignac\Desktop\ProyectoElectron\src\views\VentanasNavegacion.js"></script>
  <script type="text/javascript" src= "C:\Users\ignac\Desktop\ProyectoElectron\src\views\tablaProductos.js"></script>
  <script type="text/javascript" src= "C:\Users\ignac\Desktop\ProyectoElectron\src\views\TablaMejorada.js"></script>
  <script type="text/javascript" src= "C:\Users\ignac\Desktop\ProyectoElectron\src\views\cargarJson.js">  </script>
  


 


  </body>
</html>