<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Nuevo Cliente</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
  </head>
  <body>

    <!-- Interface -->
    <form class="p-4">
      <div class="form-group">
          <label >Ingresar datos del Cliente</label>
        <input type="text" id="nombre" class="form-control" placeholder="Nombre" autofocus>
      </div>
      <div class="form-group">
        <input type="text" id="apellido" class="form-control" placeholder="Apellido">
      </div>
      <div class="form-group">
        <input type="text" id="tel" class="form-control" placeholder="Telefono">
      </div>
      <div class="form-group">
        <input type="text" id="dir" class="form-control" placeholder="Direccion">
      </div>
      <div class="form-group">
        <input type="text" id="numCli" class="form-control" placeholder="Número de cliente">
      </div>
      <div class="form-group">
        <input type="text" id="rep" class="form-control" placeholder="reputación">
      </div>
      <button class="btn btn-primary btn-block" id="guardar">
        Guardar Cliente
      </button>
    </form>

    <!-- Logic -->
    <script>
      const { ipcRenderer } = require('electron');

      const form = document.querySelector('form');
      form.addEventListener('submit', e => {
        e.preventDefault();

        var nombreCli = document.querySelector('#nombre').value;
        var apellidoCli = document.querySelector('#apellido').value;
        var telCli = document.querySelector('#tel').value;
        var dirCli = document.querySelector('#dir').value;
        var numeroCli = document.querySelector('#numCli').value;
        var repCli = document.querySelector('#rep').value;
        

        var nuevoCliente = {
          nombre: nombreCli ,
          apellido: apellidoCli,
          tel: telCli,
          dom: dirCli,
          numCliente: numeroCli,
          reputacion: repCli 
        };
        
        ipcRenderer.send('cliente:new', nuevoCliente);
        window.close();
      });
    </script>
  </body>
</html>
